@model Laboratorio_1.Models.NBAModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NBAModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Center)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Center)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerForward)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerForward)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmallForward)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmallForward)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointGuard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointGuard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShootingGuard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShootingGuard)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
