@model IEnumerable<Laboratorio_1.Models.NBAModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Center)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerForward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmallForward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointGuard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShootingGuard)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Center)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerForward)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmallForward)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointGuard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShootingGuard)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Team }) |
                @Html.ActionLink("Details", "Details", new { id = item.Team }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Team })
            </td>
        </tr>
}
    </tbody>
</table>
