@model IEnumerable<Laboratorio_1.Models.NBAModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Base)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escolta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlaPivot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pivot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Equipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Base)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Escolta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlaPivot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pivot)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Equipo }) |
                @Html.ActionLink("Details", "Details", new { id = item.Equipo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Equipo })
            </td>
        </tr>
}
    </tbody>
</table>
