@model Laboratorio_1.Models.AnimalCrossingModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AnimalCrossingModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fruit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fruit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Insects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Insects)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Animals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Animals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tricks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tricks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emotions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emotions)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
