@model IEnumerable<Laboratorio_1.Models.AnimalCrossingModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fruit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insects)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tricks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emotions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fruit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insects)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Animals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tricks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emotions)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.Emotions}) |
                @Html.ActionLink("Details", "Details", new { id = item.Emotions }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Emotions })
            </td>
        </tr>
}
    </tbody>
</table>
