@model Laboratorio_1.Models.Persona5Model

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Persona5Model</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strenght)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strenght)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Magic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Magic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnduranceOrVitality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnduranceOrVitality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Luck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Luck)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
